//-----GENERAL SETTINGS------
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(../fonts/Roboto-Regular.ttf) format('ttf');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: local('Roboto'), url(../fonts/Roboto-Medium.ttf) format('ttf');
}

body{
  font-family: Roboto;
}
p{
    margin:0;
    padding: 0;
  }

 //------HOTEL CARD---------- 
.hotel{
  &__card{
    display: flex;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid rgba(135, 135, 135, 0.2);
    border-radius: 8px;
    font-family: Roboto;
    font-size: 17px;
    line-height: 22px;
    color: #424242;
  }
  &__column{
    margin: 0 24px 0;
    &-big{
      flex:1 auto;
    }
    &:last-child{
      text-align: end;
    }
  }
  &__image{
    position: relative;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: rgba(65, 82, 46, 0.05);
    img{
      position: absolute;
      top:16%;
      left:25%;
    }
  }
  &__date{
    font-size: 14px;
    margin: 0 0 5px;
  }
  &__bookmark{
    cursor: pointer;
  }
}
//------MAIN BLOCK-------
.main{
  &__body{
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: #E5E5E5;
  }
  &__content{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-column-gap: 24px;
    padding: 30px 196px;
  }
}
.column{
  padding: 32px;
  background-color:#FFFFFF;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}
.hotels__list{
  height: 650px;
  overflow: scroll;
}
//---------- EXIT BUTTON----------
.exit{
  &__btn{
    display: flex;
    align-items:center;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.408px;
    color: #41522E;
    margin: 42px 35px 0;
    cursor: pointer;
  }
    &__icon{
      margin: 0 0 0 15px;
    }
}
// ---------LEFT COLUMN----------
.small-column__raw{
  display:flex;
  align-items: center;
  &:first-child{
    margin: 0 0 24px;
    justify-content: center;
  }
}
//---------FAVORITES BLOCK-------
.favorites{
  max-height: 474px;
  overflow: scroll;
&__sorting{
  display: flex;
}
}
//--------SORTING BLOCK----------
.filter{
  &__block{
    display: flex;
  }
  &__item{
    position: relative;
    margin:  0 20px 0 0;
  }
  &__btn{
    padding: 4px 30px 4px 8px;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.408px;
    color: #99A0A3;
    border: 1px solid #E5E5E5;
    &-active{
      border: 1px solid #41522E;
      color: #41522E;
    }
  }
  &__arrows{
      position: absolute;
      top:29%;
      left: 73%;
      display:flex;
      flex-direction: column;
    }
}
.arrow{
  fill: #41522E;
  fill-opacity:0.3;
}
.filter__btn-active ~ .filter__arrows .arrow-active{
    fill-opacity:1;
  }

//--------RIGHT COLUMN----------
.path{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  color: #424242;
  margin: 0 0 28px 0;
  span {
    color: #A7A7A7;
    margin: 0 20px;
    font-weight: 500;
  }
}
.slider{
  display:flex;
  width: 50vw;
  overflow: scroll;
}
.hotel__rate{
  display: flex;
}
.favorites_line{
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #424242;
}

.price{
  font-size: 11px;
  color:#878787;
  margin: 0 10px 0;
}


//-----------FORM----------
.form{
  width: 330px;
  &__body{
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
.login{
  &__page{
    width: 100%;
    height: 100vh;
    background: url('../img/bg.png');
    background-repeat:no-repeat;
    background-size: cover;
  }
  &__body{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(20px);
  }
  &__input{
    padding: 16px 16px 16px;
    font-size: 16px;
    line-height: 18px;
    color: rgba(28, 28, 28, 0.5);
    border-radius: 4px;
    border: 1px solid #C9CACC;
    margin: 0 0 16px;
    // &::-webkit-inner-spin-button { background: orange; }
    &-alert{
      border: 1px solid #EB1717;
      color:#EB1717;
      &:focus{
        outline: #EB1717;
      }
    }
  }
  &__lable{
    align-self: flex-start;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #424242;
    margin: 0 0 7px;
  }
  &__btn{
    padding: 15px;
    background: linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }
}

.authentication{
  text-align: center;
  padding: 32px;
  background-color:#FFFFFF;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  &__title{
    font-size: 24px;
    color: #424242;
    text-shadow: 0 0 1px #000;
    margin: 0 0 32px;
  }
}
.alert{
  color: #EB1717 !important;
  &-danger{
  margin: 0 0 20px;
  font-size: 12px;
  line-height: 14px;
  }
}